
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Taxpayer</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="#" rel="shortcut icon">
    <link crossorigin="anonymous" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">

    <style>
        body {
            font-family: sans-serif;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    </style>

    <script crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}">
    </script>
</head>
<body>

<div class="container py-3">
    <div class="mb-3">
        <label class="form-label" for="unp">УНП<sup>*</sup></label>
        <div class="row p-0 m-0">
            <div class="col col-6 px-0">
                <input class="form-control" id="unp" name="unp" required type="text">
            </div>
            <div class="col col-6 px-0">
                <button class="btn btn-success ml-2" id="fillButton" type="button">
                    ЗАПОЛНИТЬ
                </button>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="fullName">
            Полное наименование плательщика
        </label>
        <input class="form-control" id="fullName" name="fullName" readonly type="text">
    </div>

    <div class="mb-3">
        <label class="form-label" for="address">
            Адрес
        </label>
        <input class="form-control" id="address" name="address" readonly type="text">
    </div>

    <div class="mb-3">
        <label class="form-label" for="registrationDate">
            Дата постановки на учет
        </label>
        <input class="form-control" id="registrationDate" name="registrationDate" readonly type="date">
    </div>

    <div class="mb-3">
        <label class="form-label" for="status">
            Статус
        </label>
        <input class="form-control" id="status" name="status" readonly type="text">
    </div>
</div>

<script>
    const unp = document.getElementById("unp");
    const unpLength = 9;

    unp.addEventListener('paste', function (e) {
        e.preventDefault()
        let paste = (e.clipboardData || window.clipboardData).getData("text");
        paste = paste.trim()
        if(!/^\d+$/.test(paste)){
            return
        }
        if (paste.length > unpLength) {
            paste = paste.substring(0,unpLength)
        }
        e.target.value = paste
    });

    unp.addEventListener("keypress", function (e) {
        if(!isFinite(e.key)){
            e.preventDefault()
        }
        if (e.key === "Enter") {
            e.preventDefault();
            document.getElementById("fillButton").click();
        } else if (this.value.length === unpLength) {
            e.preventDefault()
        }
    });

    $(document).ready(function () {
        $('#' + 'fillButton').click(function (e) {
            let unp = document.getElementById("unp").value;
            if (unp === "" || unp.length  !== unpLength) {
                e.preventDefault()
            }else {
                fill();
            }
        })
    })

    function fillDefault() {
        document.getElementById('fullName').value = null;
        document.getElementById('registrationDate').value = null;
        document.getElementById('status').value = null;
        document.getElementById('address').value = null;
    }

    function fill() {
        const successEGR = fillEGR()
        const successGRP = fillGRP()
        if(!successEGR && !successGRP){
            fillDefault()
        }
    }

    function fillEGR(){
        $.ajax(`http://localhost:8080/taxpayer/fill/${unp.value}`
        ).done(function (data) {
            if (data) {
                setField('fullName', data)
                return true
            }
        }).fail(function (data) {
            return false
        })
        return false
    }

    function fillGRP(){
        $.getJSON(`http://grp.nalog.gov.by/api/grp-public/data?unp=${unp.value}&charset=UTF-8&type=json`
        ).done(function (data) {
            if (data) {
                setField('address', data.row.vpadres)
                setField('registrationDate', data.row.dreg)
                setField('status', data.row.vkods)
                return true
            }
        }).fail(function (data) {
            return false
        })
        return false
    }
    function setField(field, value){
        if (!document.getElementById(field).value || document.getElementById(field).value.trim() === '') {
            document.getElementById(field).value = value;
        }
    }

</script>

</body>
</html>
